#showcase .container {
    display: flex;
    background-color:#f5b463;
    background-image:url('../images/Fridge 2.jpg');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: left;
    height: 700px;
    min-width:30px;       /*min- make the font responsive*/
    margin-bottom:40px;
    text-align: left center; 
}

#showcase .container #showcase-title {
    height: 100%;
    width: 100%;
    background: rgba(174, 115, 38, 0.3);
    place-items: center;
}