<!-- kitchen/template/search.html -->
<!-- Programmers: Jeff C Cheng, Allen Sun. Kevin Wei -->
<!-- Last Modified: 11/1/2020 -->
<!-- use Django template in base.html -->
<!-- get results from kitchen/views.py through context, which includes user's search query -->
<!-- added image display and changed display size -->

{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'search/css/search.css' %}">
{% endblock css %}

{% block content %}   
    <div>
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input type="text" placeholder="title..." name="title">
            <input type="text" placeholder="author..." name="author">
            <input type="text" placeholder="content..." name="content">
            <input type="submit" value="Submit">
        </form>   
    </div>
    <br>
    {% for recipe in recipes %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">By {{ recipe.author }}</a>
                <!-- no need to show the seconds so only show month, day and year -->
                <small class="text-muted">On {{ recipe.date_created|date:"F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="#">Title: {{ recipe.title }}</a></h3>
            <p class="article-content">{{ recipe.content }}</p>
            <img src="{{ recipe.cover.url }}" width="45" height="45">
            <!-- <img src="{{ post.cover.url}}" alt="{{ post.title }}"> -->
            </div>
        </article>    
    {% endfor %}
{% endblock content %}