$textColor: #f56a58;
$backgroundColor: #fef9f6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: $textColor;
    /* avenir-lt-w01_35-light1475496, sans-serif; */
}

/* GLOBAL */
body {
    background-color: $backgroundColor;
    min-height: 100vh;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
    // overflow: hidden;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}

/* HEADER */
#header {
    .container {
        display: flex;
        margin: 2rem auto;
        padding: 0;
        // justify-content: space-around;
        // overflow: hidden;
        .KitchenMagician {
            display: flex;
            flex: left;
            position: bold;
            font-weight: 700;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: 0.6s;
            text-decoration: none;
            color: $textColor;
            margin-right: 1rem;
        }
        ul#ul-nav-link {
            display: flex;
            flex: right;
            margin-bottom: 0;
            flex-grow: 1; // takes the rest of spaces
            // position: bold;
            justify-content: space-between;
            align-items: center;
            place-items: center;
            padding: 0;
            list-style: none;
            li.nar-link {
                // position: bold;
                list-style: none;
                display: inline;
                a {
                    // position: bold;
                    margin: 0 0.4rem;
                    text-decoration: none;
                    font-size: 1rem;
                    // padding-right: 1rem;
                    font-weight: 900;
                    color: $textColor;
                }
            }
            li#search {
                flex-grow: 1; // takes the rest of spaces
                margin: 0 0.4rem;
                #search-box {
                    background-color: $backgroundColor;
                    width: 100%;
                    // min-width: 300px;
                    height: 100%;
                    border-radius: 50px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 10px;
                    border: $textColor 2.5px solid;
                    .search-text {
                        background-color: $backgroundColor;
                        border-color: $backgroundColor;
                        outline: none;
                        border: none;
                        /* border-radius: 50px 50px 50px 50px; */
                        /* padding: 0px 10px; */
                        width: 100%;
                        line-height: 20px;
                        color: black;
                        font-size: 15px;
                        float: left;
                    }
                    .search-btn {
                        color: $backgroundColor;
                        float: right;
                        border-radius: 20%;
                        position: relative;
                        margin: 0;
                        margin-right: 5px;
                        /* display: flex;
                        justify-content: center;
                        align-items: center; */
                        button {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border: none 0 #fef9f6;;
                            background: #fef9f6;;
                            // color: #fef9f6;
                        }
                    }
                }
            }
        }
    }
}

/* FOOTER */
#main-footer {
    background: $textColor;
    text-align: center;
    padding: 0.6rem 0;
    margin-bottom: 0;
    height: auto;
    p {
        margin: auto;
        color: $backgroundColor !important;
    }
}

// Medium-Large devices (tablets, less than 854px)
// @media (max-width: 854px) {  
//     .container {
//         width: 828px;
//     }

// }

@media (min-width: 854px) {  
    .container {
        max-width: 828px;
    }

}

@media (min-width: 940px) {  
    .container {
        max-width: 920px;
    }
}

@media (min-width: 970px) {  
    .container {
        max-width: 950px;
    }
}

@media (min-width: 992px) {  
    .container {
        max-width: 960px;
    }

}

@media (min-width: 1080px) {  
    .container {
        max-width: 1024px;
    }

}

@media (min-width: 1100px) {  
    .container {
        max-width: 1080px;
    }

}


@media (min-width: 1200px) {  
    .container {
        max-width: 1140px;
    }

}