.container {
    margin: 10%;
}

.box {
    height: 300px;
    /* width: 80%; */
}

.box1 {
    /* margin: 100%; */
    width: 100%;
    border: 2px solid red;
    background-color: red;
}

.box2 {
    border: 2px solid blue;
    background-color: blue;
    margin:  auto;


}