#people-images .container {
    display: grid;
    height: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

#people-images .container .image-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#people-images .container .image-block img {
    width: 100%;
    height: auto;
}
