
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #f56a58;
    /* avenir-lt-w01_35-light1475496, sans-serif; */
}

/* GLOBAL */
body {
    background-color: #fef9f6;
    min-height: 200vh;
    color: #555; 
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
}

.container {
    justify-content: space-between;
    align-items: center;
    margin: 25px 5%;
}

/* HEADER */
header .container {
    display: flex;
    /* justify-content: space-around;
    overflow: hidden; */
}

header .KitchenMagician {
    display: flex;
    flex: left;
    position: bold;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    text-decoration: none;
}

header ul {
    display: flex;
    flex: right;
    position: bold;
    justify-content: center;
    align-items: center;
    place-items: center;
    padding: 0;
    list-style: none;
}

header ul li {
    position: bold;
    list-style: none;
    display: inline;
}

header ul li a {
    position: bold;
    margin: 0 0.4rem;
    text-decoration: none;
    font-size: 1.0rem;
    padding-right: 1.0rem;
    font-weight: 900;
}


/* search-box */
header li#search{
    padding-right: 1.0rem;
    margin: 0 0.4rem;
}

header li#search #search-box {
    background-color: #fef9f6;
    width: 200px;
    height:100%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between; 
    padding: 0px 10px;
    border: #f56a58 2px solid;
} 

header #search #search-box .search-text {
    background-color: #fef9f6;
    border-color: #fef9f6;
    outline: none;
    border: none;
    /* border-radius: 50px 50px 50px 50px; */
    /* padding: 0px 10px; */
    width: 100%;
    line-height: 20px;
    color: black;
    font-size: 15px;
    float:left;
}

header #search #search-box .search-btn {
    color: #fef9f6;
    float: right;
    border-radius: 20%;
    position: relative;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

header #search #search-box .search-btn i {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

/* header #search a {
    position: center;
} */



/* FOOTER */
#main-footer {
    background: #f56a58;
    text-align: center;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 0;
}

#main-footer p {
    color: #fff !important;

}


@media (max-width: 768px) {
    #showcase {
        background-size: 61.8% 100%;
    }

    .images-img {
        height: 300px;
    }
}