<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/notes/css/search_box.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Search Box</title>
</head>
<body>
    <section id="showcase">
        <div class="container">
            <div id="search-box" class="search-box-block">
                <input id="search-text-id" class="search-text" type="text" name="box" placeholder="Find Meals For You">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div> 
        </div>
    </section>
</body>
</html>