{% extends 'base.html' %}
{% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/css/about.css' %}">
    {% endblock css %}

    {% block content %}
    <section id="ABOUT">
        <div class="container">
            <div id="ABOUT-title">
                <h1>ABOUT US</h1>
                <div id="about-line"></div>
            </div>
        </div>
    </section>

    <section id="people-images">
        <div class="container">
            {% for k, v in team.items %}
            <div class="image-block">
                <a class="image-block-wrapper" href="{% url 'about-profile' name=v.name id=v.id %}">
                    <img src="{% static v.img %}" alt="" id="NP" class="images-img"/>
                </a>
                <div class="image-title">
                    <h1>{{ v.name }}</h1>
                    <h2>{{ v.title }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endblock content%}

{% block active-nav-link %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock active-nav-link %}
