{% extends 'base.html' %}
{% load static %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/css/profile.css' %}">
    {% endblock css %}

    {% block content %}
        <section class="showcase">
            <div id="profile-block">
                <div id="triangle-block"></div>
                <div id="profile-image-block">
                    <img src="{% static profile.img %}" alt="" class="profile-img"></div>
                </div>
            </section>

            <section id="intro">
                <div class="container">
                    <div class="intro-info">
                        {% for i in profile.intro %}
                            <p>{{ i }}</p>
                        {% endfor %}
                    </div>
                    <div id="intro-block">
                        <div id="intro-name" class="intro-info">{{ profile.name }}</div>
                        <div id="intro-title" class="intro-info">{{ profile.title }}</div>
                    </div>
                </div>
            </section>
        {% endblock content %}

        {% block active-nav-link %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% endblock active-nav-link %}
