body {
    background-color: antiquewhite;
}

/* SHOWCASE */
#profile-block {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/profile-bg.jpg');
    height: 100vh;
    width: 100%;
}

#triangle-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(177deg, transparent 50%, antiquewhite 0);
}

#profile-image-block {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 23%;
    background-color: white;
}

#profile-image-block img {
    width: 100%;
    height: auto;
    border: 0.5rem solid white;
}

#profile-block img {
    height: auto;
    position: 0 0;
}

#intro .container {
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr 25%;
    grid-gap: 2em;
}

#intro .container p {
    line-height: 2rem;
}


#intro-block .intro-info {
    line-height: 2rem;
}

#intro-block #intro-name {
    font-size: 1.5rem;
}