slider
#showcase-slider {
    .container {
        position: relative;
        height: 90vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        .slider-container {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            z-index: 0;
            div#slider-container-div1 {
                position: absolute;
                height: auto;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                div#slider-container-div2 {
                    overflow: hidden;
                    box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.62);
                    width: 100%;
                    .slider {
                        width: 100%;
                        height: 700px;
                        display: grid;
                        grid-template-columns: repeat(6, 100%);
                        /* transform: translateX(-800px); */
                        /* border: 2px solid red; */
                        .slider-img {
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            margin: 0;
            /* border: 2px solid blue; */
            .btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 1rem 1.2rem;
                border-radius: 5px;
                background-color: #fef9f6;
                border: 2.5px solid #f56a58;
                outline: none;
                cursor: pointer;
                opacity: 0.5;
                transition: 0.3s;
                &#prev {
                    left: 5%;
                }
                &#next {
                    right: 5%;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
            ul#showcase-slider-options {
                position: absolute;
                bottom: 2%;
                left: 50%;
                transform: translateX(-50%);
                list-style: none;
                display: flex;
                li.option {
                    width: 18px;
                    height: 18px;
                    margin: 0.3rem;
                    border: 2.5px solid #f56a58;
                    border-radius: 50%;
                    cursor: pointer;
                    &.colored {
                        background-color: #f56a58;
                    }
                }
            }
        }
    }
}