{% extends "base.html" %} 
{% load static %}

        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        {% endblock css %}

        {% block content %}
        
        <!-- slider -->
        <section id="showcase-slider">
            <div class="container">
                <div class="slider-container">
                    <div>
                        <div>
                            <div class="slider">
                                <div class="img" id="first">
                                    {% with trending_recipes|last as last_element %}
                                    <img src="{% static last_element.img %}">
                                    {% endwith %}
                                </div>
                                
                                {% for trending in trending_recipes %}
                                <div class="img">
                                    <img src="{% static trending.img %}">
                                </div>
                                {% endfor %}
                                
                                <div class="img" id="last">
                                    <img src="{% static trending_recipes.0.img %}">
                                </div>
                                <!-- <div class="img" id="first">
                                    <img src="{% static 'images/K5O.jpg' %}">
                                </div>
                                <div class="img">
                                    <img src="{% static 'images/K2O.jpg' %}">
                                </div>
                                <div class="img">
                                    <img src="{% static 'images/K3O.jpg' %}">
                                </div>
                                <div class="img">
                                    <img src="{% static 'images/K4O.jpg' %}">
                                </div>
                                <div class="img">
                                    <img src="{% static 'images/K5O.jpg' %}">
                                </div>
                                <div class="img" id="last">
                                    <img src="{% static 'images/K2O.jpg' %}">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <button class="btn" id="prev"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn" id="next"><i class="fas fa-chevron-right"></i></button>
    
                    <ul>
                        <li class="option" option-index="0"></li>
                        <li class="option" option-index="1"></li>
                        <li class="option" option-index="2"></li>
                        <li class="option" option-index="3"></li>
                    </ul>
                </div>
            </div>
                    
                <!-- <div id="showcase-title-block">
                    <h1>Welcome to Kitchen Magician</h1>
                    <div id="title-line"></div>
                    <h2>Fresh Healthy Convenient</h2>
                </div> -->
        </section>

        <section id="images">
            <div class="container">
                <img src="{% static 'images/1.jpg' %}" alt="" id="img1" class="images-img" />
                <img src="{% static 'images/2.jpg' %}" alt="" class="images-img" />
                <img src="{% static 'images/3.jpg' %}" alt="" class="images-img" />
            </div>
        </section>

        {% endblock content %}

        {% block script %}
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
        {% endblock script %}
