/*showcase-carousel*/
section#showcase-carousel {
  width: 100%;
}

section#showcase-carousel .container {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

section#showcase-carousel .container #myCarousel {
  margin: 0;
}

section#showcase-carousel .container #myCarousel ul.carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 0.3rem;
  border: 2.5px solid #f56a58;
  border-radius: 50%;
  cursor: pointer;
}

section#showcase-carousel .container #myCarousel ul.carousel-indicators li.active {
  background-color: #f56a58;
}

section#showcase-carousel .container #myCarousel .carousel-inner {
  width: 100%;
  margin: 0;
}

section#showcase-carousel .container #myCarousel .carousel-inner img {
  width: 100%;
  margin: 0;
}

section#showcase-carousel .container #myCarousel .btn-carousel span {
  background-image: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1.2rem 1rem;
  border-radius: 5px;
  background-color: #fef9f6;
  border: 2.5px solid #f56a58;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: auto;
  height: auto;
}

section#showcase-carousel .container #myCarousel .btn-carousel:hover {
  opacity: 0.8;
}

section#showcase-carousel .container #myCarousel .btn-carousel.active {
  opacity: 0.8;
  background-color: #fef9f6;
}

/*banner*/
#banner .container {
  background-image: url("../images/banner/wall.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: 400px;
  min-width: 40px;
  /*min- make the font responsive*/
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

#banner .container #showcase-title-block {
  color: #fef9f6;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* background: rgba(174, 115, 38, 0); */
  /* background: rgba(0, 0, 0, 0.2); */
}

#banner .container #showcase-title-block h1 {
  color: #f56a58;
  margin: 0;
  font-size: 45px;
  position: center;
  word-spacing: 0.5em;
  line-height: 2em;
  padding-top: 100px;
}

#banner .container #showcase-title-block #title-line {
  background-color: #f56a58;
  height: 0.1rem;
  width: 13rem;
}

#banner .container #showcase-title-block h2 {
  color: #f56a58;
  font-size: 1.6em;
  line-height: 2em;
  word-spacing: 2em;
  padding-bottom: 100px;
}

/*groups-carousel*/
/* IMAGES GALLERY */
#images .container {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  height: auto;
  margin: 2rem auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#images .container img {
  width: 100%;
  position: right;
}

#images .container .images-img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=home.css.map */